{% set current_route = app.request.get('_route') %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %} - {{ ('brand.chalet.name')|trans }}</title>
        <link rel="icon" href="{{ absolute_url(asset('fontawesome/svgs/solid/house-tree.svg')) }}">

		<meta name="description" content="Trouvez votre escapade de rêves en quelques minutes parmis des milliers de chalets au Québec!">

		<meta property="og:type" content="website" />
		<meta property="og:url" content="{{ app.request.uri }}" />
		<meta property="og:image" content="{{ absolute_url(asset('image/site/og-image.jpg')) }}">

		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="{{ app.request.uri }}" />
		<meta property="twitter:image" content="{{ absolute_url(asset('image/site/og-image.jpg')) }}">

        <link rel="preconnect" href="https://api.fonts.coollabs.io">
        <link href="https://api.fonts.coollabs.io/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,600;0,800;1,400&family=Urbanist:ital,wght@0,400;0,600;0,800;1,400&display=swap" rel="stylesheet">

        <link rel="stylesheet" href="{{ asset('css/reset.css') }}">
        <link rel="stylesheet" href="{{ asset('css/base.css') }}">
        <link rel="stylesheet" href="{{ asset('css/animations.css') }}">
        <link rel="stylesheet" href="{{ asset('css/button.css') }}">
        <link rel="stylesheet" href="{{ asset('css/input.css') }}">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}">
        <link rel="stylesheet" href="{{ asset('fontawesome/css/all.min.css') }}">

        {% block stylesheets %}
        {% endblock %}

		<script>
			window.mapboxPublicKey = "{{ mapbox_public_token }}";
		</script>
    </head>
    <body>
        <header>
            <a href="/" class="brand">
                <i class="fas fa-house-tree"></i>
                {{ ('brand.chalet.name_html')|trans|raw }}
            </a>

            <!--nav>
                <a href="#">Explorer par région</a>
            </nav-->
        </header>

        {% block body %}{% endblock %}

		<footer>
			<div class="container">
				<nav>
					<div>
						<strong>Explorer par région</strong>
						{% for region in regions() %}
							<a href="{{ path('search', { latitude: region.latitude, longitude: region.longitude, search_radius: region.radius, region: region.slug }) }}">
								{{ region.name }}
							</a>
						{% endfor %}
					</div>
					<div>
						<strong>Trouve ton Chalet</strong>
						<a href="{{ path('about') }}">À propos</a>
						<a href="{{ path('contact') }}">Nous joindre</a>
						<a href="{{ path('how_to_add_listing') }}">Comment ajouter ma propriété?</a>
					</div>
				</nav>
			</div>

			<hr>

			<div class="container">
				© 2023 Trouve ton Chalet
				<a href="{{ path('terms_of_use') }}">Conditions d'utilisation</a>
				<a href="{{ path('privacy_policy') }}">Politique de confidentialité</a>
			</div>
		</footer>

        {% block javascripts %}
        {% endblock %}
    </body>
</html>
